*{
    margin:0px;
    padding:0px;
}
body{
    background-color:lavender;
}
.top {
    display: flex;
}

.no1 {
    width: 100%;
    height: 200px;
}

.no2 {
    width: 20%;
    height: 200px;
}

aside {
    width: 14%;
    float: left;
    color: black;
    height: 180px;
    background-color: #95B9C7;
    padding-top: 120px;
    margin-top: 20px;
    margin-left: 07px;
    font-size: 20px;
    font-family: Arial;
    padding-left: 10px;
}

form{
    float:right;
    width:84%;
    margin-top:20px;
}

form h2{
    padding-top:25px;
    font-family:Arial;
    font-size:30px;
    padding-left:10px;
}
form p{
    padding-top:19px;
    padding-left:10px;
    font-family:Arial;
    font-size:16px;
}

    form .text, .password {
        margin-left:10px;
        margin-top:15px;
    }

button{
    margin-top:10px;
    margin-left:10px;
    padding:02px 06px;

}